@model IEnumerable<Web.Models.Empresa>
@{
    ViewData["Title"] = "Empresa";
}

<table class="table table-striped">
    <thead class="table table-dark">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Nombre)</th>
        <th>@Html.DisplayNameFor(model => model.RazonSocial)</th>
        <th>@Html.DisplayNameFor(model => model.Bitacora)</th>
        <th>@Html.DisplayNameFor(model => model.FechaDeRegistro)</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        @foreach (var item in Model)
        {
                <td>@Html.DisplayFor(model => item.Nombre)</td>
                <td>@Html.DisplayFor(model => item.RazonSocial)</td>
                <td>@Html.DisplayFor(model => item.Bitacora)</td>
                <td>@Html.DisplayFor(model => item.FechaDeRegistro)</td>
        }
    </tr>
    </tbody>
</table>